.tech-specs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.product-detail-container{
    width: 1000px;
    margin: 35px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}